{% extends 'myapp/base.html' %} {% block content %}
<div class="container py-1">
    <div class="alert bg-light text-center my-3 border-success">
        <h3 class="mb-0 text-success">YAY!! Your booking has been confirmed. Happy Journey!</h3>
    </div>
    <div class="text-center">
        <form action="{% url 'seebookings' %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-dark border-light rounded col-lg-2 col-md-5 col-sm-6 col-xs-6 text-light" data-bs-toggle="modal" data-bs-target="#myModal">
           Booking Details
        </button>
            <button type="submit" class="btn btn-primary border-light rounded col-lg-2 col-md-5 col-sm-6 col-xs-6 text-light">OK</button>
        </form>
    </div>
</div>

<!-- The Modal -->
<div class="fade modal" id="myModal">
    <div class="modal-dialog rounded modal-dialog-centered">
        <div class="modal-content rounded">
            <!-- Modal Header -->
            <div class="modal-header modal-dialog-centered">
                <h4 class="modal-title text-center">Booking Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Bus Name:</b> {{book.bus_name}}</li>
                    <li class="list-group-item"><b>Starting Point:</b> {{book.source}}</li>
                    <li class="list-group-item"><b>Destination Point:</b> {{book.dest}}</li>
                    <li class="list-group-item"><b>Number of Seats:</b> {{book.nos}}</li>
                    <li class="list-group-item"><b>Price:</b> {{book.price}}</li>
                    <li class="list-group-item"><b>Total Cost:</b> {{cost}}</li>
                    <li class="list-group-item"><b>Date:</b> {{book.date}}</li>
                    <li class="list-group-item"><b>Time:</b> {{book.time}}</li>
                </ul>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-default border-light bg-danger btn-sm rounded text-light" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}